<%= form_with(model: job) do |form| %>
  <% if job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :id, style: "display: block" %>
    <%= form.text_field :id, readonly: true %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :context, style: "display: block" %>
    <%= form.text_area :context %>
  </div>

  <div>
    <%= form.label :frontend, style: "display: block" %>
    <%= form.text_area :frontend %>

    </div>
  <div>
    <%= form.label :backend, style: "display: block" %>
    <%= form.text_area :backend %>

    </div>
  <div>
    <%= form.label :infra, style: "display: block" %>
    <%= form.text_area :infra %>
  </div>
  <div>
    <%= form.label :startdate, style: "display: block" %>
    <%# form.date_field :startdate %>
  </div>
  <div>
    <%= form.label :enddate, style: "display: block" %>
    <%# form.date_field :enddate %>
  </div>
  <div>
    <%= form.label :prefecture, style: "display: block" %>
    <%= form.text_field :prefecture %>
  </div>
  <div>
    <%= form.label :telework, style: "display: block" %>
    <%= form.check_box :telework %>
  </div>
  <div>
    <%= form.label :physical, style: "display: block" %>
    <%= form.check_box :physical %>
  </div>
  <div>
    <%= form.label :intellectual, style: "display: block" %>
    <%= form.check_box :intellectual %>
  </div>
  <div>
    <%= form.label :psychological, style: "display: block" %>
    <%= form.check_box :psychological %>
  </div>
  <div>
    <%= form.label :developmental, style: "display: block" %>
    <%= form.check_box :developmental %>
  </div>
  <div>
    <%= form.label :remarks, style: "display: block" %>
    <%= form.text_field :remarks %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
