<%# render "form", job: @job %>

<br>

<p><strong>ID:</strong> <%= @job.id %></p>
<p><strong>Title:</strong> <%= @job.title %></p>
<p><strong>Context:</strong> <%= @job.context %></p>
<p><strong>Frontend:</strong> <%= @job.frontend %></p>
<p><strong>Backend:</strong> <%= @job.backend %></p>
<p><strong>Infra:</strong> <%= @job.infra %></p>
<p><strong>Prefecture:</strong> <%= @job.prefecture %></p>
<p><strong>Telework:</strong> <%= @job.telework %></p>
<p><strong>Start Date:</strong> <%= @job.startdate %></p>
<p><strong>End Date:</strong> <%= @job.enddate %></p>
<p><strong>Physical:</strong> <%= @job.physical %></p>
<p><strong>Intellectual:</strong> <%= @job.intellectual %></p>
<p><strong>Psychological:</strong> <%= @job.psychological %></p>
<p><strong>Developmental:</strong> <%= @job.developmental %></p>
<p><strong>Remarks:</strong> <%= @job.remarks %></p>